html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

header {
    background-color: #923906;
    color:  #fff;
    height: 90px;
}

.top {
    font-size: 36px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    display: inline-block;
}

.btn {
    padding-top: 33px;
    padding-right: 20px;
    padding-bottom: 33px;
    padding-left: 20px;
    display: inline-block;
}ß